.whiteText {
	color:white!important;
}
.navLinksContainer{
	padding-right:1rem;
}

.navContainer{
	background: linear-gradient(45deg, rgba(6,151,255,0.85), rgba(2,21,159));
	/*padding-bottom: 0.5rem;*/
}

.navBrand{
	margin-left: 7.5%;
}

.navBrand>h2{
	white-space: nowrap;
	font-weight: 300;
	letter-spacing: 0.2rem;
}

.navBrandSubHeadings>p{
	font-size: 0.55rem;
	text-transform: uppercase;
	white-space: nowrap;
	letter-spacing: 0.1rem;
	margin-bottom: 0;
}

.navBrandSubHeadings, .navLinksContainer{
	margin-top: -7px;
}

.navLink{
	color:rgba(255,255,255,0.7) !important;
}

.navLink:hover{
	color:white!important;
}