.aboutMeRow{
	min-height: 15rem;
	background:linear-gradient(45deg, rgba(32,154,253,0.8),rgba(0,25,210,0.8)), url(./img/about_me_background.jpg) no-repeat center;
	color:white;
	width: 100%;
	margin:0;
}

.aboutMeCol{
	display:flex;
	align-items: center;
}

.aboutMeText{
	text-align: center;
	font-family: "Monsterrat", sans-serif;
}

.aboutMeText >h3{
	text-transform: uppercase;
}

.aboutMeText >h5{
	padding-top: 1rem;
}

.heroImage{	
	margin-top:10%;
	margin-bottom: 10%;
	max-height: 100%;
	max-width: 100%;
}

.lazy{
	filter:blur(3px);
}