.whiteText{
	color:white!important;
}

.aboutContainer{
	min-height: 15rem;
	background:linear-gradient(45deg, rgba(32,154,253,0.8),rgba(0,25,210,0.8)), no-repeat center;
	width: 100%;
	margin:0;
}

.aboutMeRow{
	padding-bottom: 20%;
}

.aboutMeCol{
	display:flex;
	align-items: center;
}

.aboutMeText{
	text-align: center;
}

.aboutMeText >h5{
	padding-top: 0.5rem;
}

.aboutMeHeroContainer{
	padding:0;
}

@media(max-width: 768px){
	.aboutMeRow {
		padding-top: 2.5rem;
		padding-bottom: 3.5rem;
	}

	.aboutMeHeroContainer{
		padding-top:2rem;
	}
}
