.myStyleCol{
	display:flex;
	align-items: center;
}

.myStyleRow{
	max-width: 100%;
	padding:0px;
	margin:0px;
}

.myStyleContainer{
	padding-top: 1.5rem;
	background-color:rgb(239, 245, 245);
	padding-bottom: 2rem;
}

.myStyleHeader {
	font-weight: 300;
}

.myStyleImage{	
	margin-top:10%;
	margin-bottom: 10%;
	max-height: 100%;
	max-width: 100%;
}

.lazy{
	filter:blur(3px);
}

.quoteText{
	font-style: italic;
}

.quoteAuthor{
	font-weight: 600;
	font-size: 1rem;
}

.myStyleTextGroup{
	font-size: 1.2rem;
	padding: 30px 0px 0px 0px;
	text-align: center;
}